<!DOCTYPE html>
<html>
<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/style.css"> 
</head>
<body>
    <div class="main-content">
       {{>header}}
       <p><b>This site was created by Badri Vishal Soni. It uses data from mapbox.com and darksky.net <br>
        Below is just a sample image to practice things out!</b></p>
    <img class="portrait" src="/img/robot.png"><!-- for only 1 class we did class="Portrait" for n no. i can do class="portrait abc bcd" -->
    </div>

    {{>footer}}
   
  
</body>

</html>